/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --link-shadow: #ff0070;
  --nav-color: #ff0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --record-color: #FF0070;
  --article-title: #000028;
  --title-decor: #FF0070;
  --title-section: #FF0070;
  --text-section: #F1B2CE;
  --border-link: #353430;
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-color:#000028;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --border-color: #ff0070;
    --link-shadow: #ff0070;
    --nav-color: #ff0070;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --record-color: #FF0070;
    --article-title: #000028;
    --title-decor: #FF0070;
    --title-section: #FF0070;
    --text-section: #F1B2CE;
    --border-link: #353430;
    --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --bg-color:#000028;
    --bg-image: url(../images/cover-image-dark.png);
  }
}

.theme_dark .header_rec {
  display: block;
}
